<app-sidenav></app-sidenav>
<section>
  <div class="header">
    <h2>Recent Orders</h2>
  </div>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="table_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Table No.</th>
        <td
          mat-cell
          *matCellDef="let row"
          (click)="getAllUnsubmittedOrdersFromOneTable(row.table_id, false)"
          (click)="goTo(row.table_id, row.order_id)"
        >
          <ng-container *ngFor="let table of tables">
            <div *ngIf="table.table_id === row.table_id">
              {{ table.table_no }}
            </div>
          </ng-container>
        </td>
      </ng-container>

      <ng-container matColumnDef="order_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Order ID</th>
        <td
          mat-cell
          *matCellDef="let row"
          (click)="getAllUnsubmittedOrdersFromOneTable(row.table_id, false)"
          (click)="goTo(row.table_id, row.order_id)"
        >
          {{ row.order_id }}
        </td>
      </ng-container>

      <!-- <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Price</th>
        <td
          mat-cell
          *matCellDef="let row"
          (click)="goTo(row.table_id, row.order_id)"
          (click)="getAllUnsubmittedOrdersFromOneTable(row.table_id)"
        >
          {{ row.total_price }} Ks
        </td>
      </ng-container> -->

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td
          mat-cell
          *matCellDef="let row"
          (click)="getAllUnsubmittedOrdersFromOneTable(row.table_id, false)"
          (click)="goTo(row.table_id, row.order_id)"
        >
          <mat-chip>
            {{ row.is_paid === true ? "Completed" : "Pending" }}
            <i
              [class]="
                row.is_paid === true
                  ? 'fa-solid fa-check'
                  : 'fa-solid fa-ellipsis'
              "
              [ngStyle]="{ color: row.is_paid === true ? 'green' : '' }"
            ></i>
          </mat-chip>
        </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Order Date</th>
        <td
          mat-cell
          *matCellDef="let row"
          (click)="getAllUnsubmittedOrdersFromOneTable(row.table_id, false)"
          (click)="goTo(row.table_id, row.order_id)"
        >
          {{ row.orderDate | date : "h:mm a" }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page of users"
    ></mat-paginator>
  </div>
</section>
