<!-- <div class="sidebar">
    <ul>
        <li><a href="">Staffs</a></li>
        <li><a href="">Menu</a></li>
    </ul>
</div>
<div class="container">
    <main class="main">
        <div class="img-container">
            <img src="https://m.economictimes.com/thumb/msid-101784190,width-1200,height-900,resizemode-4,imgsize-37648/blackpinks-jennie-has-opened-up-about-her-struggle-with-burnout.jpg" alt="">
        </div>
        <div class="form-container">
            <form action="" method="post">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required><br><br>

                <label for="position">Position:</label>
                <select id="position" name="position" required>
                    <option value="Manager">Manager</option>
                    <option value="Supervisor">Supervisor</option>
                    <option value="Wait-staff">Wait-staff</option>
                </select><br><br>

                <label for="phone">Phone Number:</label>
                <input type="tel" id="phone" name="phone" required><br><br>

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required><br><br>

                <label for="address">Address:</label>
                <input type="text" id="address" name="address" required><br><br>

                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required><br><br>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required><br><br>

                <input type="submit" value="Add New Staff">
            </form>
        </div>
    </main>
</div> -->


<!-- <div class="new-staff-container">
    <app-sidebar></app-sidebar>
    <div class="container">
        <div class="form-container">
            <form (submit)="register()" enctype="multipart/form-data">
                <label for="profilePicture">Add Profile Image:</label>
                <input type="file" id="profilePicture" name="profilePicture" accept="image/*" (change)="onFileSelected($event)">

                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required [(ngModel)]="staffData.name"><br><br>

                <label for="role">Position:</label>
                <select id="role" name="role" required [(ngModel)]="staffData.role">
                    <option value="manager">Manager</option>
                    <option value="supervisor">Supervisor</option>
                    <option value="waitstaff">Wait-staff</option>
                </select><br><br>

                <label for="phone">Phone Number:</label>
                <input type="tel" id="phone" name="phone" required [(ngModel)]="staffData.phone"><br><br>

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required [(ngModel)]="staffData.email"><br><br>

                <label for="address">Address:</label>
                <input type="text" id="address" name="address" required [(ngModel)]="staffData.address"><br><br>

                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required [(ngModel)]="staffData.username"><br><br>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required [(ngModel)]="staffData.password"><br><br>

                <button type="submit">Edit Staff</button>
            </form>
        </div>
    </div>
</div> -->

<div *ngIf="staff">
    <h2>Staff Details</h2>

    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required [(ngModel)]="updatedStaffData.name"><br><br>

    <label for="role">Position:</label>
    <select id="role" name="role" required [(ngModel)]="updatedStaffData.role">
        <option value="manager">Manager</option>
        <option value="supervisor">Supervisor</option>
        <option value="waitstaff">Wait-staff</option>
    </select><br><br>

    <label for="phone">Phone Number:</label>
                <input type="tel" id="phone" name="phone" required [(ngModel)]="updatedStaffData.phone"><br><br>

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required [(ngModel)]="updatedStaffData.email"><br><br>

                <label for="address">Address:</label>
                <input type="text" id="address" name="address" required [(ngModel)]="updatedStaffData.address"><br><br>

                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required [(ngModel)]="updatedStaffData.username"><br><br>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required [(ngModel)]="updatedStaffData.password"><br><br>
    
    <button (click)="updateStaff()">Update Staff</button>
    
  </div>