<div class="staff-info-container" *ngIf="staff">
  <!-- <app-sidebar></app-sidebar> -->
  <div class="container">
    <div class="edit-btn"><a routerLink="'/edit-staff'">Edit</a></div>

    <div class="staff-info">
      <figure class="img-container">
        <img [src]="staff.profilePicture" alt="Profile Picture" />
        <figcaption>{{ staff.name }}</figcaption>
      </figure>

      <!-- <p>Position: <span>wait-staff</span></p>
            <p>Phone: <span>09456789</span></p>
            <p>Email: <span>kyaw21@gmail.com</span></p>
            <p>Address: <span>Butar Street, Kamaryut Tsp, Yangon</span></p>
            <p>Username: <span>Kyaw Kyaw</span></p>
            <p>Password: <span>12345</span></p> -->
      <div class="content">
        <div class="description">
          <p>Position:</p>
          <p>Phone:</p>
          <p>Email:</p>
          <p>Address: {{ staff.address }}</p>
          <p>Username: {{ staff.username }}</p>
          <p>Password: {{ staff.password }}</p>
        </div>
        <div>
          <p>{{ staff.role }}</p>
          <p>{{ staff.phone }}</p>
          <p>{{ staff.email }}</p>
          <p>{{ staff.address }}</p>
          <p>{{ staff.username }}</p>
          <p>{{ staff.passsword }}</p>
        </div>
      </div>
    </div>
    <div class="delete-btn" (click)="deleteStaff()">
      <a href="">Delete Staff</a>
    </div>
  </div>
</div>
