<!-- <div class="container-fluid">
    <div class="row no-gutters">
        <div class="col-md-1">
            <div class="sidebar">
                <app-sidebar></app-sidebar>
            </div>
        </div>
        <div class="col-md-11">
            <div class="topbar">
                <app-topbar></app-topbar>
            </div>
            <hr>
            <div class="main">
                <app-main></app-main>
            </div>
        </div>
    </div>
</div>

 -->

<div class="all-staff-container">
  <app-sidebar></app-sidebar>
  <div class="container">
    <!-- <app-topbar></app-topbar> -->
    <app-main></app-main>
  </div>
</div>
