<div class="container">
  <!-- <div *ngIf="selectedRole == false; else formPage">
    <h1 class="title">Welcome!</h1>
    <mat-form-field>
      <mat-label>Choose your role</mat-label>
      <mat-select>
        <mat-option
          *ngFor="let role of roles"
          [value]="role"
          (click)="click(role)"
          >{{ role }}</mat-option
        >
      </mat-select>
    </mat-form-field>
  </div> -->
  <!-- <ng-template #formPage> -->
  <div class="main-content" *ngIf="loader == false; else loading">
    <div class="company__info">
      <ng-template #vinyl>
        <span class="company__logo"
          ><h2><span class="fa fa-android"></span></h2
        ></span>
        <h4 class="company_title">Your Company Logo</h4>
      </ng-template>
      <img [src]="imgUrl" alt="" *ngIf="imgUrl != ''; else vinyl" />
      <div class="upload">
        <input
          id="file-input"
          type="file"
          accept="image/*"
          #fileUploader
          (change)="processFile($event)"
        />
        <label id="file-input-label" for="file-input" class="label">
          <i
            class="fa-solid fa-image"
            matTooltip="Upload Image"
            aria-label="Button that displays a tooltip when focused or hovered over"
          ></i>
        </label>
      </div>
    </div>
    <div class="login_form">
      <div class="container-fluid" *ngIf="sign_in === false; else register">
        <div class="row">
          <h2>Log In</h2>
        </div>
        <div class="row">
          <form [formGroup]="loginForm" class="form-group">
            <div class="row">
              <input
                type="email"
                name="email"
                id="email"
                class="form__input"
                placeholder="Email or phone number"
                formControlName="email"
              />
              <div
                *ngIf="
                  loginForm.get('email')?.hasError('required') &&
                  loginForm.get('email')?.touched
                "
                class="error"
              >
                *Email is required
              </div>
              <div
                *ngIf="
                  loginForm.get('email')?.hasError('email') &&
                  loginForm.get('email')?.touched
                "
                class="error"
              >
                *Invalid email format
              </div>
            </div>
            <div class="row">
              <input
                type="password"
                name="password"
                id="password"
                class="form__input"
                placeholder="Password"
                formControlName="password"
              />
              <div
                *ngIf="
                  loginForm.get('password')?.hasError('required') &&
                  loginForm.get('password')?.touched
                "
                class="error"
              >
                *Password is required
              </div>
            </div>
            <div class="my-btn">
              <input
                type="submit"
                value="Submit"
                class="btn"
                (click)="login()"
              />
              <!-- <button (click)="back()" class="back">Back</button> -->
            </div>
          </form>
        </div>
        <div class="row">
          <p>
            Don't have an account? <a (click)="signInOrUp()">Register Here</a>
          </p>
        </div>
        <div class="row">
          <div
            *ngIf="errorMessage"
            style="color: red; margin-bottom: 10px"
            class="error error-footer"
          >
            *{{ errorMessage }}
          </div>
        </div>
      </div>

      <ng-template #register>
        <div class="container-fluid">
          <div class="row">
            <h2>Register</h2>
          </div>
          <div class="row">
            <form [formGroup]="registerForm" class="form-group">
              <div class="row">
                <input
                  type="text"
                  name="username"
                  id="username"
                  class="form__input"
                  placeholder="Username"
                  formControlName="name"
                />
              </div>
              <div class="row">
                <input
                  type="email"
                  name="email"
                  id="email"
                  class="form__input"
                  placeholder="Email"
                  formControlName="email"
                />
              </div>
              <div class="row">
                <input
                  type="tel"
                  name="phone"
                  id="phone"
                  class="form__input"
                  placeholder="Phone"
                  formControlName="phone"
                />
              </div>
              <div class="row">
                <input
                  type="password"
                  name="password"
                  id="password"
                  class="form__input"
                  placeholder="Password"
                  formControlName="password"
                />
              </div>
              <div class="mb-3 row">
                <mat-radio-group
                  aria-label="Select an option"
                  formControlName="gender"
                >
                  <mat-radio-button value="male" class="radio"
                    >Male</mat-radio-button
                  >
                  <mat-radio-button value="female" class="radio"
                    >Female</mat-radio-button
                  >
                </mat-radio-group>
              </div>
              <div class="mb-3 row">
                <mat-radio-group
                  aria-label="Select an option"
                  formControlName="role"
                >
                  <mat-radio-button value="waiter" class="radio"
                    >Waiter</mat-radio-button
                  >
                  <mat-radio-button value="supervisor" class="radio"
                    >Supervisor</mat-radio-button
                  >
                  <mat-radio-button value="manager" class="radio"
                    >Manager</mat-radio-button
                  >
                </mat-radio-group>
              </div>
              <div class="row">
                <div
                  *ngIf="errorMessage"
                  class="error error-footer"
                  style="margin-bottom: 0"
                >
                  *{{ errorMessage }}
                </div>
              </div>
              <div class="my-btn">
                <input
                  type="submit"
                  value="Submit"
                  class="btn"
                  (click)="registration()"
                />
                <!-- <button (click)="back()" class="back">Back</button> -->
              </div>
            </form>
          </div>
          <div class="row">
            <p>
              Already have an account?
              <a (click)="signInOrUp()">Login Here</a>
            </p>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
  <ng-template #loading>
    <span class="loader"></span>
  </ng-template>
</div>
