::-webkit-scrollbar {
  display: none;
}

.mat-typography {
  width: 600px;
  color: #000;
}

.invoice-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.head .logo {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
}

.head .title,
.inv-date .time {
  font-size: 15px;
  font-weight: 500;
  margin: 0;
}

.inv-date .date {
  font-size: 17px;
  font-weight: 600;
  text-align: end;
  margin: 0;
}

.data p {
  font-size: 15px;
  font-weight: 500;
  margin: 0;
}

table {
  border-collapse: collapse;
  font-size: 12px;
  width: 100%;
  margin-top: 20px;
}

table thead {
  background: rgba(121, 169, 197, 0.92);
  color: #fff;
}

table thead tr td {
  font-weight: 600;
  padding: 8px 5px;
}

table tbody td {
  padding: 7px 5px;
  color: #000;
}

.mid {
  text-align: center;
}

.r-col {
  text-align: right !important;
}

table tbody tr:nth-child(even) {
  background: #f3f8fa;
}

.total-section {
  display: flex;
  flex-direction: column;
  float: right;
  font-size: 12px;
  width: 160px;
  margin-top: 5px;
  padding-right: 5px;
  color: #000;
}

.sub,
.tax,
.total {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.total {
  border-top: 1px solid #646464;
  padding-top: 5px;
}

.sub p:nth-child(1),
.tax p:nth-child(1),
.total p {
  font-weight: 600;
}
