<mat-dialog-content class="mat-typography">
  <div>
    <div class="invoice-header">
      <div class="head">
        <h2 class="logo">Company Name</h2>
        <h4 class="title">Invoice#</h4>
      </div>
      <div class="inv-date">
        <h2 class="date">Date</h2>
        <h4 class="time">
          {{ data[0].orderDate | date : "MMM d, y, h:mm a" }}
        </h4>
      </div>
    </div>
    <div class="data">
      <p>Table No. {{ data[0].table_id }}</p>
      <p>Order No. {{ data[0].order_id }}</p>
      <p *ngIf="employeesData">OrderedBy = {{ employeesData.name }}</p>
    </div>
  </div>
  <table>
    <thead>
      <tr>
        <td>Food Name</td>
        <td>Price</td>
        <td class="mid">Quantity</td>
        <td class="r-col">Amount</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let bill of bills; let i = index">
        <ng-container *ngFor="let menu of allMenus; let menuIndex = index">
          <td *ngIf="bill.menu_id === menu.menu_id">
            {{ i + 1 }}.{{ menu.food_name }}
          </td>
        </ng-container>
        <ng-container *ngFor="let menu of allMenus">
          <td *ngIf="bill.menu_id === menu.menu_id">{{ menu.price }} Ks</td>
        </ng-container>
        <td class="mid">{{ bill.qty }}</td>
        <td class="r-col">
          <ng-container *ngFor="let menu of allMenus">
            <div *ngIf="bill.menu_id === menu.menu_id">
              {{ bill.total_price }} Ks
            </div>
          </ng-container>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="total-section">
    <div class="sub">
      <p>Sub Total:</p>
      <p>{{ totalAmounts.total }} Ks</p>
    </div>
    <div class="tax">
      <p>Tax:</p>
      <p>{{ totalAmounts.tax }} Ks</p>
    </div>
    <div class="total">
      <p>Grand Total:</p>
      <p>{{ totalAmounts.subTotal }} Ks</p>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button (click)="payBill()">Pay Bill</button>
</mat-dialog-actions>
