.box {
  padding: 15px 20px 0 0;
  margin-left: 100px;
}

.g-row {
  width: 100%;
  display: grid;
  grid-template-columns: 25% auto;
  row-gap: 10px;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
}

.cancel-btn,
.submit-btn {
  width: 13%;
  font-size: 14px;
  margin-top: 20px;
}

.cancel-btn {
  border: solid gray;
}

.submit-btn {
  background-color: var(--main-color);
}
