<app-sidenav></app-sidenav>
<div class="box">
  <h2 class="text-center">New Reservation</h2>
  <form class="details" [formGroup]="reservationForm" (ngSubmit)="reserve()">
    <div class="g-row">
      <label for="supervisor" class="g-item">Supervisor: </label>
      <input
        type="text"
        required
        class="g-item"
        id="supervisor"
        formControlName="supervisor"
      />

      <label for="date">Date:</label>
      <input
        type="date"
        id="date"
        class="date"
        [required]="true"
        formControlName="reserved_date"
      />

      <label for="time">Time:</label>
      <input
        type="time"
        id="time"
        class="time"
        formControlName="reserved_time"
      />

      <label for="no-people">Number of People:</label>
      <input
        type="number"
        class="g-item"
        id="no-people"
        formControlName="num_of_people"
      />
      <!-- <select
        class="people"
        id="no-people"
        formControlName="num_of_people"
        (click)="updateCapacity()"
      >
        <option selected>Choose...</option>
        <option *ngFor="let num of [1, 2, 3, 4, 5, 6, 7, 8]" value="{{ num }}">
          {{ num }}
        </option>
      </select> -->

      <label for="customer" class="g-item">Reserved By: </label>
      <input
        type="text"
        class="g-item"
        id="customer"
        formControlName="reserved_by"
      />

      <label for="phone" class="g-item">Phone Number: </label>
      <input type="tel" class="g-item" id="phone" formControlName="phone" />

      <label for="prepared">Prepared in Advanced:</label>
      <textarea
        name="prepared"
        id="prepared"
        formControlName="prepared"
      ></textarea>

      <label for="note">Additional Notes:</label>
      <textarea
        name="note"
        id="note"
        rows="3"
        formControlName="notes"
      ></textarea>

      <label for="deposit" class="g-item">Deposit: </label>
      <input
        type="text"
        class="g-item"
        id="deposit"
        formControlName="deposit"
      />

      <label for="table-no">Table No.</label>
      <select
        class=""
        id="table-no"
        class="table"
        required
        formControlName="table_id"
        (click)="getNumOfPeople()"
      >
        <option selected>Choose...</option>

        <option
          *ngFor="let table of selectionTables"
          value="{{ table.table_id }}"
        >
          {{ table.table_id }}
        </option>
      </select>
    </div>
    <div class="btns text-center">
      <button class="btn cancel-btn mx-3" type="reset" (click)="cancle()">
        Cancel
      </button>
      <button
        class="btn submit-btn mx-3"
        type="submit"
        [disabled]="!reservationForm.valid"
      >
        Submit
      </button>
    </div>
  </form>
</div>
