<app-sidenav></app-sidenav>
<section>
  <div class="header">
    <div class="categories">
      <mat-form-field>
        <mat-label>Choose Category</mat-label>
        <mat-select>
          <mat-option (click)="allCategories()">All</mat-option>
          <mat-option
            *ngFor="let category of categories; let i = index"
            [value]="category.category_name"
            (click)="showMenus(category.category_id)"
            >{{ category.category_name }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <button mat-raised-button class="add-menus" (click)="addMenuFormDialog()">
        Create Menus
      </button>
    </div>
    <h3>Menus List</h3>
  </div>

  <div class="menu-box">
    <div class="menus">
      <ng-container *ngFor="let menu of menus; let menuIndex = index">
        <div class="card" [matMenuTriggerFor]="popup">
          <img [src]="menu.img" alt="food" class="card-img-top" />
          <div class="card-body">
            <h5 class="card-title">{{ menu.food_name }}</h5>
          </div>
        </div>

        <mat-menu #popup="matMenu">
          <button mat-menu-item (click)="editMenuFormDialog(menu)">
            <mat-icon>edit</mat-icon>
            <span>Edit this menu</span>
          </button>
          <button mat-menu-item (click)="deleteMenu(menu.menu_id)">
            <mat-icon>delete</mat-icon>
            <span>Delete this menu</span>
          </button>
        </mat-menu>
      </ng-container>
    </div>
  </div>
</section>
