.md-header {
  width: 100%;
  display: flex;
  align-items: center !important;
  justify-content: space-between;
  padding: 20px;
  background: #5f7ff5;
  color: #fff;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.md-header .md-title {
  font-size: 18px;
  font-weight: 500;
}

.md-header button {
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
}

.profile {
  position: relative;
  margin: 10px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.profile .name {
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 700;
}

.profile img {
  height: 125px;
  width: 125px;
  border-radius: 50%;
  margin-bottom: 10px;
  cursor: pointer;
}

.upload {
  position: absolute;
  bottom: 35px;
  right: 36%;
  color: rgb(55, 69, 80);
}

#file-input {
  display: none;
}

.label {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #b6b5b5;
  border-radius: 50%;
  font-size: 1rem;
  cursor: pointer;
  color: black;
}

.email {
  text-transform: lowercase;
}

.form-group {
  display: flex;
  gap: 10px;
}

.form-group mat-form-field {
  width: 100%;
}

.form-group .name {
  text-transform: capitalize;
}

.form-group input {
  font-size: 16px;
  font-weight: 400;
}

.btn {
  font-size: 18px;
  font-weight: 500;
}

.radio {
  margin-right: 5px !important;
}

.md-footer {
  padding: 15px 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.save {
  margin-left: 10px;
}

mat-form-field i {
  margin-right: 5px;
  cursor: pointer;
}
