<app-sidenav></app-sidenav>
<section>
  <button class="add-employees" routerLink="/employees/add-employees">
    Add Employees
  </button>
  <mat-tab-group class="taps">
    <mat-tab label="Waitstaff">
      <div class="g-container">
        <div
          class="g-item"
          *ngFor="let waitstaff of waitstaffs"
          (click)="goDetails(waitstaff.employee_id)"
        >
          <img src="..//..//../assets/images/placeholder.png" alt="employee" />
          <div class="employee-name">
            <div>{{ waitstaff.name }}</div>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Supervisor">
      <div class="g-container">
        <div
          class="g-item"
          *ngFor="let supervisor of supervisors"
          (click)="goDetails(supervisor.employee_id)"
        >
          <img src="..//..//../assets/images/placeholder.png" alt="" />
          <div class="employee-name">
            <div>{{ supervisor.name }}</div>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</section>
