section {
  margin-left: 100px;
  min-height: 100vh;
  height: auto;
}

.add-employees {
  margin-top: 20px;
  background: var(--main-color);
  padding: 10px 20px;
  border: none;
  font-size: 18px;
  font-weight: 500;
  color: aliceblue;
  border-radius: 8px;
  margin-right: 20px;
}

.taps {
  margin-top: 20px;
  height: 89vh;
  overflow: auto;
}

.g-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 5% 2%;
  margin-top: 10px;
}

.g-item {
  border: solid blue;
  display: flex;
  flex-wrap: nowrap;
}

.g-item img {
  width: 40%;
}

.employee-details {
  padding: 2%;
}

@media screen and (min-width: 900px) and (max-width: 1400px){
  .g-container {
    grid-template-columns: repeat(3, auto);
  }
}

@media screen and (min-width: 450px) and (max-width: 900px) {
  .g-container {
    grid-template-columns: repeat(2, auto);
  }
}

@media screen and (max-width: 450px) {
  .g-container {
    grid-template-columns: auto;
  }
}

