<app-sidenav></app-sidenav>
<section>
  <button class="add-employees" routerLink="/employees/add-employees">
    Add Employees
  </button>
  <mat-tab-group class="taps">
    <mat-tab label="Waitstaff">
      <!-- <div class="employee-rows">
        <div class="employees" *ngFor="let waitstaff of waitstaffs">
          <div class="image">
            <img src="..//..//../assets/images/placeholder.png" alt="" />
          </div>
          <div class="data">
            <p>ID: {{ waitstaff.employee_id }}</p>
            <p>Name: {{ waitstaff.name }}</p>
            <p>Email: {{ waitstaff.email }}</p>
            <p>Role: {{ waitstaff.role }}</p>
          </div>
        </div>
      </div> -->

      <div class="g-container">
        <div class="g-item" *ngFor="let waitstaff of waitstaffs">
          <img src="..//..//../assets/images/placeholder.png" alt="" />
          <div class="employee-details">
            <div>ID: {{ waitstaff.employee_id }}</div>
            <div>Name: {{ waitstaff.name }}</div>
            <div>Email: {{ waitstaff.email }}</div>
            <div>Role: {{ waitstaff.role }}</div>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Supervisor">
      <div class="employee-rows">
        <div class="employees" *ngFor="let supervisor of supervisors">
          <div class="image">
            <img src="..//..//../assets/images/placeholder.png" alt="" />
          </div>
          <div class="data">
            <p>ID: {{ supervisor.employee_id }}</p>
            <p>Name: {{ supervisor.name }}</p>
            <p>Email: {{ supervisor.email }}</p>
            <p>Role: {{ supervisor.role }}</p>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</section>
