section {
  padding: 20px 20px 20px 100px;
}

table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

th {
  font-size: 16px;
  font-weight: 600;
}

.name {
  text-transform: capitalize;
}

td,
th {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

td {
  text-transform: lowercase;
  opacity: 0;
  animation: popup 1s ease forwards;
}

@keyframes popup {
  0% {
    opacity: 0;
    scale: 0;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}

.profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.header {
  display: flex;
  gap: 10px;
}

.header button {
  width: 200px;
  height: 55px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
}
