<section class="constrains">
  <app-sidenav></app-sidenav>
  <div class="flex-box">
    <div class="menu-page">
      <div class="categories">
        <ng-container *ngFor="let category of categories; let i = index">
          <div (click)="showMenus(category.category_id)">
            <div
              class="category"
              [ngStyle]="{
              background: categoryId === category.category_id
                ? 'var(--main-color)'
                : '#fff',
              color: categoryId === category.category_id ? 'var(--secondary-color)' : 'black',
            }"
            >
              {{ category.category_name }}
            </div>
          </div>
        </ng-container>
      </div>

      <div class="food-box">
        <div class="menus-box">
          <div class="menus" *ngIf="topping === false; else none">
            <ng-container *ngFor="let menu of menus; let menuIndex = index">
              <div class="item-card">
                <div class="image">
                  <img [src]="menu.img" alt="food" />
                </div>
                <div class="item-name">{{ menu.food_name }}</div>
                <div class="icons">
                  <i
                    class="fa-solid fa-minus"
                    (click)="reduce(menuIndex, menu)"
                  ></i>
                  <div>{{ menu.quantity }}</div>
                  <i
                    class="fa-solid fa-plus"
                    (click)="addOrder(menu.menu_id, menu)"
                  ></i>
                </div>
                <button class="choice" (click)="showTopping(menuIndex)">
                  Select
                </button>
              </div>
            </ng-container>
          </div>
        </div>

        <ng-template #none>
          <div class="topping-card">
            <mat-tab-group class="group">
              <form [formGroup]="selectedForm">
                <div class="mytab">
                  <mat-tab label="Choice of meat">
                    <div class="grid-container">
                      <!-- <ng-container
                        *ngFor="
                          let extraFood of menus[selectedIndex].extraFood_id;
                          let i = index
                        "
                      >
                        <label>
                          <input
                            class="select"
                            type="radio"
                            [value]="extraFood"
                            formControlName="meat"
                          />
                          <div class="grid-item">
                            {{ extraFood }}
                          </div>
                        </label>
                      </ng-container> -->
                    </div>
                  </mat-tab>
                  <mat-tab label="Ingredients" class="grid">
                    <div class="grid-container">
                      <!-- <ng-container
                        *ngFor="let topping of foods[selectedIndex].toppings"
                      >
                        <label>
                          <input
                            class="select"
                            type="checkbox"
                            [value]="topping"
                            formControlName="topping"
                          />
                          <div class="grid-item">
                            {{ topping }}
                          </div>
                        </label>
                      </ng-container> -->
                    </div>
                  </mat-tab>
                  <mat-tab label="Extra food" class="grid">
                    <div class="grid-container">
                      <!-- <ng-container
                        *ngFor="let extraFood of foods[selectedIndex].extra"
                      >
                        <label>
                          <input
                            class="select"
                            type="radio"
                            [value]="extraFood"
                            formControlName="extra"
                          />
                          <div class="grid-item">
                            {{ extraFood }}
                          </div>
                        </label>
                      </ng-container> -->
                    </div>
                  </mat-tab>
                </div>
              </form>
            </mat-tab-group>
            <div class="topping-bottom">
              <button class="btn" (click)="closeTopping()">
                <i class="fa-solid fa-xmark"></i>
              </button>
              <button class="btn">
                <i class="fa-solid fa-cart-shopping"></i>
              </button>
            </div>
          </div>
        </ng-template>
      </div>
    </div>

    <div class="order-page">
      <div class="order-header">
        <div class="order-title">
          <ng-container *ngFor="let table of tables; let i = index">
            <ng-container *ngIf="table.table_id == tableId"
              ><div>Table no: {{ table.table_no }}</div></ng-container
            >
          </ng-container>
          <div>Order ID: 11</div>
        </div>
        <div class="spacer"></div>
        <div class="order-title">
          <div>Item</div>
          <div>Qty</div>
        </div>
      </div>
      <div class="order-box" *ngIf="orders.length > 0; else blank">
        <div class="order-card">
          <ng-container *ngFor="let order of orders; let orderIndex = index">
            <div class="food-name">
              <div>{{ order.food_name }}</div>
              <div>{{ order.quantity }}</div>
            </div>
            <!-- <div>{{ order.extra }}</div>
            <ol>
              <li></li>
            </ol>
            <div>{{ order.remove }}</div>
            <ol>
              <li></li>
            </ol> -->
            <div class="order-type">
              <div>Order Type</div>
              <div class="dropdown" (click)="openDropdown(orderIndex)">
                <button class="dropdown-toggle">
                  {{ orderType }}
                </button>
                <div
                  class="dropdown-menu"
                  [ngClass]="{ show: showDropdown }"
                  *ngIf="orderTypeIndex === orderIndex"
                >
                  <button
                    class="dropdown-item"
                    *ngFor="let type of orderTypes; let typeIndex = index"
                    (click)="sort(typeIndex)"
                  >
                    {{ type }}
                  </button>
                </div>
              </div>
            </div>
            <div class="option">
              <input type="text" placeholder="Order notes" />
              <button class="delete" (click)="del(orderIndex)">
                <i class="fa-solid fa-trash"></i>
              </button>
            </div>
            <div class="diver"></div>
          </ng-container>
        </div>
      </div>
      <ng-template #blank>
        <div class="content">
          Add Orders <i class="fa-solid fa-cart-shopping"></i>
        </div>
      </ng-template>
      <div class="order-bottom">
        <button class="submit" (click)="submitOrder()">Submit Order</button>
      </div>
    </div>
  </div>
</section>
