<section class="constrains">
  <app-sidenav></app-sidenav>
  <div class="wrapper">
    <app-table-header></app-table-header>
    <div class="flex-box">
      <div class="menu-box">
        <div class="categories">
          <ng-container *ngFor="let category of categories; let i = index">
            <div class="category">
              <div>{{ category.item }}</div>
            </div>
          </ng-container>
        </div>

        <div class="menus-box">
          <div class="menus">
            <ng-container *ngFor="let menu of menus; let i = index">
              <div class="row">
                <div class="col-sm">
                  <div class="card">
                    <div>
                      <img [src]="menu.url" alt="burger" />
                    </div>
                    <div>{{ menu.name }}</div>
                    <div class="icons">
                      <i class="fa-solid fa-minus"></i>
                      <i class="fa-solid fa-plus"></i>
                    </div>
                    <button class="btn btn-primary">Choice</button>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
          <div class="choice"></div>
        </div>
      </div>

      <div class="order-page">
        <div class="table-box">
          <h6>Table no: 1</h6>
          <h6>Date</h6>
        </div>

        <div class="card bg-secondary text-white mt-2">
          <div class="tag d-flex justify-content-between">
            <h6>Item</h6>
            <h6>Qty</h6>
          </div>
          <div class="item">
            <div class="d-flex justify-content-between">
              <h6>Burger (Beef)</h6>
              <input type="number" placeholder="0" class="form-control" />
              <h6>1</h6>
            </div>
            <h6>Remove: Salad</h6>
            <h6>Extra: Beef(x2)</h6>
            <input type="text" placeholder="Notes" class="form-control" />
          </div>
        </div>

        <div class="card bg-secondary text-white mt-2">
          <div class="tag d-flex justify-content-between">
            <h6>Item</h6>
            <h6>Qty</h6>
          </div>
          <div class="item">
            <div class="d-flex justify-content-between">
              <h6>Burger (Beef)</h6>
              <input type="number" placeholder="0" class="form-control" />
              <h6>1</h6>
            </div>
            <h6>Remove: Salad</h6>
            <h6>Extra: Beef(x2)</h6>
            <input type="text" placeholder="Notes" class="form-control" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
