<div class="container">
    <div class="unpopular-dishes">
        <app-unpopular-dishes></app-unpopular-dishes>
    </div>
    <div class="popular-dishes">
       <app-popular-dishes></app-popular-dishes>
    </div>
    <div class="breakfast">
        <app-breakfast></app-breakfast>
    </div>
    <div>
        <app-lunch></app-lunch>
    </div>
    <div>
        <app-dinner></app-dinner>
    </div>
    <div>
        <app-drinks></app-drinks>
    </div>
    <div>
        <app-snacks></app-snacks>
    </div>
</div>
