<section>
  <div class="header">
    <div class="back">
      <i
        class="fa-solid fa-arrow-left-long"
        matTooltip="Back"
        aria-label="Button that displays a tooltip when focused or hovered over"
        (click)="goBack()"
      ></i>
      <ng-container *ngFor="let table of tables">
        <h2 *ngIf="table.table_id == tableId">
          Table No. #{{ table.table_no }}
        </h2>
      </ng-container>
    </div>
  </div>
  <div *ngFor="let oneOrder of allOrders; let i = index">
    <h4 class="orderId">Order No. {{ headers[i].id }}</h4>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">No.</th>
          <th scope="col">Descriptions</th>
          <th scope="col">Modifiers</th>
          <th scope="col" class="mid">Quantity</th>
          <th scope="col" class="mid">Type</th>
        </tr>
      </thead>
      <tbody *ngFor="let order of oneOrder; let no = index">
        <tr>
          <th scope="row">{{ no + 1 }}</th>
          <ng-container *ngFor="let menu of allMenus; let menuIndex = index">
            <td *ngIf="order.menu_id === menu.menu_id">
              {{ menu.food_name }}
              <ng-container *ngIf="order.choice_of_meat != null"
                >({{ order.choice_of_meat }})</ng-container
              >
            </td>
          </ng-container>
          <td>
            <div *ngIf="order.removed_ingredients.length != 0">
              Remove: (<ng-container
                *ngFor="let ingred_id of order.removed_ingredients"
                ><ng-container *ngFor="let ing of ingredients">
                  <span *ngIf="ing.ingredient_id == ingred_id">
                    {{ ing.ingredient_name }},
                  </span>
                </ng-container> </ng-container
              >)
            </div>

            <div *ngIf="order.extra_ingredients.length != 0">
              Extra: (<ng-container
                *ngFor="let extra of order.extra_ingredients; let i = index"
              >
                <ng-container *ngFor="let ext of extraFoods">
                  <span *ngIf="ext.extraFood_id == extra">
                    {{ ext.food_name }} (x{{ order.extra_quantity![i] }}),
                  </span>
                </ng-container></ng-container
              >)
            </div>
          </td>
          <td class="mid">{{ order.quantity }}</td>
          <td class="mid">
            {{ order.takeaway === false ? "Dine in" : "Take away" }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
