<div class="box" *ngIf="orderHasBill">
  <div class="grid-container" [ngStyle]="{ border: 'none' }">
    <div class="g-item g-title">No.</div>
    <div class="g-item g-title">Total Price</div>
    <div class="g-item g-title">Payment Status</div>
    <div class="g-item g-title">Order ID</div>
  </div>
  <div
    class="grid-container"
    *ngFor="let order of orders; let i = index"
    (click)="goTo(order.order_id)"
  >
    <ng-container *ngIf="order.order_submitted">
      <div class="g-item">{{ i + 1 }}.</div>
      <div class="g-item">{{ order.total_price }} Ks</div>
      <div class="g-item">
        {{ !order.is_paid ? "pending" : "completed" }}
      </div>
      <div class="g-item">{{ order.order_id }}</div>
    </ng-container>
  </div>

  <div class="total flex">
    <div>Total: {{ billTotalAmounts.total }} Ks</div>
    <div>Discount: 0 Ks</div>
    <div>Tax: {{ billTotalAmounts.tax }} Ks</div>
    <div>Paid: {{ billTotalAmounts.paid }} Ks</div>
    <div>Pending: {{ billTotalAmounts.pending }} Ks</div>
    <button class="payall">Pay All</button>
  </div>
</div>
