<app-sidenav></app-sidenav>
<div class="box">
  <h2 class="text-center">Reservation Details</h2>
  <div class="details">
    <div class="g-container">
      <div class="g-item">Reservation Id:</div>
      <div class="g-item">{{ reservId }}</div>
      <div class="g-item">Reserved At:</div>
      <div class="g-item">12-10-2023 10:10</div>
      <div class="g-item mb-2">Table No:</div>
      <div class="g-item mb-2">2</div>

      <div class="g-item">Reserved Date:</div>
      <div class="g-item">12-10-2023</div>
      <div class="g-item">Reserved Time:</div>
      <div class="g-item">16:00</div>
      <div class="g-item mb-2">Reserved By:</div>
      <div class="g-item mb-2">U Ko</div>

      <div class="g-item">Prepared In Advanced:</div>
      <div class="g-item">dfs</div>
      <div class="g-item mb-2">Additional Notes:</div>
      <div class="g-item mb-2">wer</div>

      <div class="g-item">Deposit:</div>
      <div class="g-item">10000 Ks</div>
    </div>
  </div>
  <div class="text-center">
    <button class="cancel-btn">Cancel Reservation</button>
  </div>
</div>
