<app-sidenav></app-sidenav>
<div class="box" *ngIf="reservDetails">
  <h2 class="text-center">Reservation Details</h2>
  <div class="details">
    <div class="g-container">
      <div class="g-item mb-2">Reservation Id:</div>
      <div class="g-item mb-2">{{ reservDetails.id }}</div>
      <div class="g-item">Reserved At:</div>
      <div class="g-item">
        {{ date }}
      </div>
      <div class="g-item mb-2">Table No:</div>
      <div class="g-item mb-2">{{ reservDetails.table_id }}</div>

      <div class="g-item">Reserved Date:</div>
      <div class="g-item">{{ reservDetails.reserved_date }}</div>
      <div class="g-item mb-2">Reserved Time:</div>
      <div class="g-item mb-2">{{ reservDetails.reserved_time }}</div>

      <div class="g-item">Reserved By:</div>
      <div class="g-item">{{ reservDetails.reserved_by }}</div>
      <div class="g-item mb-2">Phone Number:</div>
      <div class="g-item mb-2">{{ reservDetails.phone }}</div>

      <div class="g-item">Prepared In Advanced:</div>
      <div class="g-item">
        {{
          reservDetails.prepared == "" || reservDetails.prepared == null
            ? "-"
            : reservDetails.prepared
        }}
      </div>
      <div class="g-item mb-2">Additional Notes:</div>
      <div class="g-item mb-2">
        {{
          reservDetails.notes == "" || reservDetails.notes == null
            ? "-"
            : reservDetails.notes
        }}
      </div>

      <div class="g-item">Deposit:</div>
      <div class="g-item">
        {{ reservDetails.deposit == null ? "0" : reservDetails.deposit }} Ks
      </div>
    </div>
  </div>
  <div class="text-center">
    <button class="cancel-btn" (click)="cancelReservation()">
      Cancel Reservation
    </button>
  </div>
</div>
