<!-- <mat-toolbar
  color="primary"
  class="d-flex justify-content-between align-items-center nav-bar"
>
  <div class="d-flex justify-content-center align-items-center">
    <button
      (click)="drawer.toggle()"
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <div class="date">Tue 28, Sep 2023</div>
  </div>
  <div>
    <div>ID: 1234</div>
    <div>Name: Kyaw Oo</div>
  </div>
</mat-toolbar>

<mat-drawer-container autosize>
  <mat-drawer #drawer opened="false" mode="over">
    <mat-nav-list>
      <mat-list-item>
        <a
          (click)="drawer.toggle()"
          class="nav-link active"
          routerLink="/tables"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
          >Tables</a
        >
      </mat-list-item>
      <mat-list-item>
        <a
          (click)="drawer.toggle()"
          class="nav-link active"
          routerLinkActive="active-link"
          routerLink="/menus"
          >Menus</a
        >
      </mat-list-item>
      <mat-list-item>
        <a
          (click)="drawer.toggle()"
          class="nav-link active"
          routerLinkActive="active-link"
          routerLink="/orders"
          >Order</a
        >
      </mat-list-item>
      <mat-list-item>
        <a
          (click)="drawer.toggle()"
          class="nav-link active"
          routerLinkActive="active-link"
          routerLink="/order-reports"
          >Order Reports</a
        >
      </mat-list-item>
      <mat-list-item>
        <a
          (click)="drawer.toggle()"
          routerLink="reservations"
          class="nav-link active"
          routerLinkActive="active-link"
          >Reservations</a
        >
      </mat-list-item>
      <mat-list-item class="logout" (click)="drawer.toggle()">
        <span>Logout</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container> -->

<!-- <app-sidenav></app-sidenav> -->
<router-outlet></router-outlet>
