section {
  padding: 20px 30px 30px 100px;
  width: 100%;
}

.wrap {
  position: relative;
  width: 100%;
  margin-bottom: 80px;
}

.invoice-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.header {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.back {
  display: flex;
  align-items: center;
}

h2,
h3,
h4 {
  margin: 0;
}

.header i {
  font-size: 19px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: transparent;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 5px;
}

.header i:hover {
  background: #c2c0c0;
}

.header i:active {
  background: #c2c0c0;
}

.head .logo {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
}

.head .title,
.inv-date .time {
  font-size: 15px;
  font-weight: 500;
  margin: 0;
}

.inv-date .date {
  font-size: 17px;
  font-weight: 600;
  margin: 0;
  text-align: end;
}

.data p {
  font-size: 15px;
  font-weight: 500;
  margin: 0;
}

table {
  border-collapse: collapse;
  font-size: 12px;
  width: 100%;
  margin-top: 20px;
}

table thead tr td {
  font-weight: 600;
  padding: 8px 5px;
}

table tbody td {
  padding: 7px 5px;
}

.mid {
  text-align: center;
}

.r-col {
  text-align: right !important;
}

table tbody tr:nth-child(odd) {
  background: #f0f0f0;
}

table tbody tr:nth-child(even) {
  background: #fcfcfc;
  border-bottom: 1px solid #b4b4b4;
  border-top: 1px solid #b4b4b4;
}

.print-section {
  position: absolute;
  right: 0;
  font-size: 12px;
  width: 110px;
  margin-top: 15px;
  padding-right: 3px;
}
