<app-sidenav></app-sidenav>
<section>
  <button
    #tooltip="matTooltip"
    matTooltip="Back"
    matTooltipHideDelay="100000"
    aria-label="Button that displays a tooltip that hides when scrolled out of the container"
    class="example-button back"
    (click)="goBack()"
  >
    <i class="fa fa-mail-reply"></i>
  </button>
  <div class="wrapper">
    <div class="invoice-header">
      <div class="head">
        <div class="logo">Company Name</div>
        <div class="title">Invoice#</div>
      </div>
      <div class="inv-date">
        <div class="date">Date</div>
        <div class="time">9/12/2023</div>
      </div>
    </div>
    <div class="data">
      <div>Table No. {{ tableId }}</div>
      <div>Order No. {{ orderId }}</div>
      <div>OrderedBy= {{ employeesData.name }}</div>
    </div>
    <table>
      <thead>
        <tr>
          <td>Food Name</td>
          <td>Modifiers</td>
          <td class="mid">Quantity</td>
          <td class="r-col">Amount</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of allOrders; let i = index">
          <td>
            {{ i + 1 }}. {{ menuNames[order.menu_id - 1].food_name }}
            <ng-container *ngIf="order.choice_of_meat != null"
              >({{ order.choice_of_meat }})</ng-container
            >
          </td>
          <td>
            <div *ngIf="order.removed_ingredients.length != 0">
              Remove: (<ng-container
                *ngFor="let ingred_id of order.removed_ingredients"
                >{{
                  ingredients[ingred_id - 1].ingredient_name
                }}, </ng-container
              >)
            </div>

            <div *ngIf="order.extra_ingredients.length != 0">
              Extra: (<ng-container
                *ngFor="let extra of order.extra_ingredients; let i = index"
                >{{ extraFoods[extra - 1].food_name }} (x{{
                  order.extra_quantity![i]
                }}), </ng-container
              >)
            </div>
          </td>
          <td class="mid">{{ order.quantity }}</td>
          <td class="r-col">
            <ng-container *ngFor="let bill of bills">
              <div *ngIf="bill.menu_id === order.menu_id">
                {{ bill.total_price }} Ks
              </div>
            </ng-container>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="total-section">
      <div class="sub">
        <p>Sub Total:</p>
        <p>{{ totalAmounts.total }} Ks</p>
      </div>
      <div class="tax">
        <p>Tax:</p>
        <p>{{ totalAmounts.tax }} Ks</p>
      </div>
      <div class="total">
        <p>Grand Total:</p>
        <p>{{ totalAmounts.subTotal }} Ks</p>
      </div>
      <button mat-raised-button color="primary">Pay Bill</button>
    </div>
  </div>
</section>
