<div class="constrains">
  <app-sidenav></app-sidenav>
  <div class="tables-section">
    <div class="table-infos flex">
      <div class="table-data">Total: {{ tables.length }}</div>
      <div class="table-data">Available: {{ tables.length }}</div>
    </div>
    <div class="tables">
      <ng-container *ngFor="let table of tables; let i = index">
        <button
          class="table"
          [ngStyle]="{
            background: table.is_available
              ? 'transparent'
              : 'var(--main-color)',
            color: table.is_available ? 'black' : 'var(--secondary-color)',
          }"
          (click)="goTo(table.table_id)"
        >
          <div>Table {{ table.table_no }}</div>
          <div class="available">
            {{ table.is_available ? "Available" : "Unavailable" }}
          </div>
          <div>Capacity: {{ table.capacity }}</div>
        </button>
      </ng-container>
    </div>
  </div>
</div>
