.tables-section {
  padding: 15px 20px 0 26px;
}

.tables {
  width: 100%;
  justify-content: space-between;
  flex-flow: row wrap;
  margin-top: 20px;
}

.table {
  width: 17%;
  /* border: solid orangered; */
  border-radius: 10px;
  padding: 10px 0;
  text-align: center;
  margin-bottom: 15px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
}

.table div:first-child {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.table:hover {
  cursor: pointer;
}
