<p class="bar">
  <mat-toolbar class="toolbar">
    <span><h2>Restaurant POS</h2></span>
    <span class="example-spacer"></span>
    <div class="demo-section">
      <button
        matTooltip="Kitchen orders"
        aria-label="Button that displays a tooltip when focused or hovered over"
        routerLink="/kitchen"
      >
        <i
          matBadge="7"
          matBadgeColor="warn"
          class="fa-solid fa-kitchen-set"
        ></i>
      </button>
    </div>
    <div class="demo-section">
      <button
        matTooltip="Bill Slip"
        aria-label="Button that displays a tooltip when focused or hovered over"
      >
        <i matBadge="7" matBadgeColor="warn" class="fa-solid fa-print"></i>
      </button>
    </div>
  </mat-toolbar>
</p>
