.container {
    display: flex;
    justify-content: space-between;
    padding: 2em;
    align-items: center;
    font-size: 1rem;
}
.total-staff-container{
    display: flex;
    justify-content: space-between;
    width: 100px;
}
.add-new-btn {
    cursor: pointer;
    
}

.add-new-btn a{
    display: inline-block;
    padding: 10px 30px;
    border-radius: 10px;
    text-decoration: none;
    background-color: var(--main-color);
    color: #000;
    
}
.add-new-btn a:hover {
    color: var(--main-color);
    background-color: #000;
}