.box {
  padding: 15px 20px 0 0;
  margin-left: 100px;
}

.reserv-head {
  width: 100%;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 10px 5px;
}

.reserv-head div:first-child {
  font-size: 18.5px;
  font-weight: 600;
}

.dropdown-toggle {
  width: auto;
  font-size: 15px;
  background-color: transparent;
  border: none;
}

.dropdown-item {
  font-size: 14px;
}

.btn {
  width: auto;
}

.my-btn {
  font-size: 14px;
  background-color: var(--main-color);
  box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.23);
}

.new-btn {
  width: auto;
  padding: 3px 15px;
  margin: 15px 0;
  font-size: 14px;
  box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.23);
}

.new-btn:hover {
  transform: scale(1.03);
}

.g-row {
  width: 100%;
  display: grid;
  grid-template-columns: 20% 15% 20% 20% 25%;
  padding: 9px 0;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.23);
}

.box .reserv-head + .g-row {
  /* box-shadow: none; */
  padding: 0;
  margin-bottom: 8px;
}

.g-row:hover {
  cursor: pointer;
  transform: scale(1.01);
}

.box .reserv-head + .g-row:hover {
  cursor: auto;
  transform: none;
}

.g-head {
  background: rgba(200, 200, 200, 0.23);
  font-size: 15px;
  font-weight: 500;
  padding: 10px 0;
  /* box-shadow: ; */
}
