<div class="topping-card">
  <mat-tab-group class="group">
    <mat-tab label="Choice of meat">
      <div class="grid-container">
        <div class="grid-item">Beef</div>
        <div class="grid-item">Pork</div>
        <div class="grid-item">Chicken</div>
      </div>
    </mat-tab>
    <mat-tab label="Ingredients" class="grid">
      <div class="grid-container">
        <div class="grid-item">Beef</div>
        <div class="grid-item">Pork</div>
        <div class="grid-item">Chicken</div>
        <div class="grid-item">Beef</div>
        <div class="grid-item">Pork</div>
        <div class="grid-item">Chicken</div>
        <div class="grid-item">Beef</div>
        <div class="grid-item">Pork</div>
        <div class="grid-item">Chicken</div>
        <div class="grid-item">Beef</div>
        <div class="grid-item">Pork</div>
        <div class="grid-item">Chicken</div>
        <div class="grid-item">Beef</div>
        <div class="grid-item">Pork</div>
        <div class="grid-item">Chicken</div>
        <div class="grid-item">Beef</div>
        <div class="grid-item">Pork</div>
        <div class="grid-item">Chicken</div>
        <div class="grid-item">Beef</div>
        <div class="grid-item">Pork</div>
        <div class="grid-item">Chicken</div>
        <div class="grid-item">Beef</div>
        <div class="grid-item">Pork</div>
        <div class="grid-item">Chicken</div>
      </div>
    </mat-tab>
    <mat-tab label="Extra food" class="grid">
      <div class="grid-container">
        <div class="grid-item">Beef</div>
        <div class="grid-item">Pork</div>
        <div class="grid-item">Chicken</div>
      </div>
    </mat-tab>
  </mat-tab-group>
  <div class="topping-bottom">
    <button class="btn">Add</button>
    <button class="btn">Close</button>
  </div>
</div>
