.topping-card {
  background: var(--main-color);
  width: 100%;
  height: 75vh;
}

.group {
  overflow: auto;
  height: 66vh;
  padding: 0 10px;
}

.topping-bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
}

.topping-bottom .btn {
  bottom: 10px;
  background: red;
  padding: 10px 30px;
  border: none;
  color: #fff;
}

.grid-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 10px;
  padding: 20px;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}
