<div class="menu-detail">
    <app-sidebar></app-sidebar>
    <div class="container">
        <button>Edit</button>
        <figure>
            <img src="" alt="">
            <figcaption></figcaption>
        </figure>
        <div>
            <h3>Categories</h3>
        <p>Breakfast, Traditional</p>
        </div>
        <hr>
        <div>
            <h3>Price</h3>
            <p>4000</p>
        </div>
        <hr>
        <div>
            <h3>Ingredients/ Toppings</h3>
            <p>Cheese</p>
        </div>
        <button>Delete Dish</button>
    </div>
</div>
