/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
@font-face {
  font-family: NotoSans-Regular;
  src: url("./assets/fonts/NotoSans-Regular.ttf");
}

:root {
  --main-color: #e92a44;
  --secondary-color: #e9e9ea;
  --icon-color: #fff;
  --primary-color: #211c2c;
  --order-bg-color: #263238;
  --menu-bg-color: aqua;
  --selected-color: #21758f;
}

* {
  margin: 0;
  padding: 0;
  font-family: NotoSans-Regular, sans-serif, Roboto;
}

body {
  background: var(--secondary-color);
  min-height: 100vh;
  height: 100%;
}

.constrains {
  max-width: 1600px;
  margin: auto;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.table-infos {
  justify-content: space-between;
  padding: 10px 0;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: NotoSans-Regular, sans-serif;
}

::-webkit-scrollbar {
  display: none;
}
