<app-sidenav></app-sidenav>
<section>
  <button class="back" routerLink="/menus">
    <i class="fa-solid fa-left-long"></i>
  </button>
  <div class="set-menu">
    <div class="images">
      <div>
        <img
          src="..//..//../assets/images/placeholder.png"
          alt=""
          *ngIf="selectedFile == null; else img"
        />
        <ng-template #img>
          <img
            [src]="selectedFile!.src"
            [alt]="selectedFile!.file"
            *ngIf="selectedFile"
          />
        </ng-template>
      </div>
      <div>
        <input
          id="file-input"
          #imageInput
          type="file"
          accept="image/*"
          (change)="processFile(imageInput)"
        />
        <label id="file-input-label" for="file-input"> Upload Photo </label>
      </div>
    </div>
    <form [formGroup]="menuForm" class="form">
      <input
        type="text"
        placeholder="Food Name"
        class="form__input"
        id="name"
        formControlName="foodName"
      />
      <label for="name" class="form__label">Food Name</label>

      <input
        type="number"
        placeholder="Price"
        class="form__input"
        id="price"
        formControlName="price"
      />
      <label for="price" class="form__label">Price</label>

      <input
        type="text"
        placeholder="Description"
        class="form__input"
        id="subject"
      />
      <label for="subject" class="form__label">Description</label>
      <button class="submit" (click)="addMenu()">Submit</button>
    </form>
  </div>
</section>
