<div class="md-header">
  <div class="md-title">{{ data ? "Edit Menu" : "Add Menu" }}</div>
  <button type="button" (click)="onNoClick()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div mat-dialog-content>
  <div class="modal-body">
    <form [formGroup]="menuForm">
      <div class="images">
        <div class="img">
          <img [src]="imgUrl" (click)="fileUploader.click()" />
        </div>
        <div>
          <input
            id="file-input"
            #fileUploader
            type="file"
            accept="image/*"
            (change)="processFile($event)"
          />
          <button mat-raised-button color="primary">
            <label id="file-input-label" for="file-input">Update Photo </label>
          </button>
        </div>
      </div>
      <div class="example-container">
        <mat-form-field>
          <mat-label>Enter food name</mat-label>
          <input matInput type="text" formControlName="food_name" />
        </mat-form-field>

        <mat-form-field floatLabel="always">
          <mat-label>Price</mat-label>
          <input
            matInput
            type="number"
            class="example-right-align"
            placeholder="0"
            formControlName="price"
          />
          <span matTextPrefix>Kyats</span>
          <span matTextSuffix>.00</span>
        </mat-form-field>
      </div>

      <div class="chip-list">
        <h3 class="title">Choose Category</h3>
        <div class="chips">
          <label *ngFor="let category of categories; let i = index">
            <input
              class="select"
              type="radio"
              [value]="category.category_id"
              formControlName="category_id"
            />
            <div class="chip">
              <i class="bi bi-check2"></i>{{ category.category_name
              }}<i
                class="fa-solid fa-xmark"
                (click)="delCategroy(i, category.category_id)"
              ></i>
            </div>
          </label>
        </div>
        <input
          class="input"
          placeholder="Add Categories..."
          (keyup.enter)="addCategory($event)"
        />
      </div>

      <div class="chip-list">
        <h3 class="title">Choose Meats</h3>
        <div class="chips">
          <label *ngFor="let meat of meats; let i = index">
            <input
              class="select"
              type="checkbox"
              [value]="meat"
              formArrayName="meat_choice"
              (change)="onCheckboxChange($event, 1)"
            />
            <div class="chip">
              <i class="bi bi-check2"></i>{{ meat
              }}<i class="fa-solid fa-xmark" (click)="delMeat(i)"></i>
            </div>
          </label>
        </div>
        <input
          class="input"
          placeholder="Add Meats..."
          (keyup.enter)="addMeat($event)"
        />
      </div>

      <div class="chip-list">
        <h3 class="title">Choose Ingredients</h3>
        <div class="chips">
          <label *ngFor="let ingredient of ingredients; let i = index">
            <input
              class="select"
              type="checkbox"
              [value]="ingredient.ingredient_id"
              formArrayName="ingredient_ids"
              (change)="onCheckboxChange($event, 2)"
            />
            <div class="chip">
              <i class="bi bi-check2"></i>{{ ingredient.ingredient_name
              }}<i
                class="fa-solid fa-xmark"
                (click)="delIngredient(i, ingredient.ingredient_id)"
              ></i>
            </div>
          </label>
        </div>
        <input
          class="input"
          placeholder="Add Ingredients..."
          (keyup.enter)="addIngredient($event)"
        />
      </div>

      <div class="chip-list">
        <h3 class="title">Choose Extra Foods</h3>
        <div class="chips">
          <label *ngFor="let extra of extras; let i = index">
            <input
              class="select"
              type="checkbox"
              [value]="extra.extraFood_id"
              formArrayName="extraFood_ids"
              (change)="onCheckboxChange($event, 3)"
            />
            <div class="chip">
              <i class="bi bi-check2"></i>{{ extra.food_name
              }}<i
                class="fa-solid fa-xmark"
                (click)="delExtra(i, extra.extraFood_id)"
              ></i>
            </div>
          </label>
        </div>
        <input
          class="input"
          placeholder="Add Extras..."
          (keyup.enter)="addExtra($event)"
        />
      </div>
    </form>
  </div>
</div>
<div class="md-footer">
  <button mat-raised-button color="primary" (click)="onNoClick()">
    Cancel
  </button>
  <button mat-raised-button color="primary" class="save" (click)="submitted()">
    {{ data ? "Update" : "Save" }}
  </button>
</div>
