<section class="constrains">
  <app-sidenav></app-sidenav>
  <div class="flex-box">
    <div class="menu-page">
      <div class="categories">
        <ng-container *ngFor="let category of categories; let i = index">
          <div (click)="showMenus(category.category_id)">
            <div
              class="category"
              [ngStyle]="{
              background: categoryId === category.category_id
                ? 'var(--main-color)'
                : '#fff',
              color: categoryId === category.category_id ? 'var(--secondary-color)' : 'black',
            }"
            >
              {{ category.category_name }}
            </div>
          </div>
        </ng-container>
      </div>

      <div class="food-box">
        <div class="menus-box">
          <div class="menus" *ngIf="topping === false; else none">
            <ng-container *ngFor="let menu of menus; let menuIndex = index">
              <div class="item-card">
                <div class="image">
                  <img [src]="menu.img" alt="food" />
                </div>
                <div class="item-name">{{ menu.food_name }}</div>
                <div class="icons">
                  <i class="fa-solid fa-minus" (click)="reduce(menu)"></i>
                  <i
                    class="fa-solid fa-plus"
                    (click)="addOrder(menu.menu_id, menu)"
                  ></i>
                </div>
                <button class="choice" (click)="showTopping(menuIndex, menu)">
                  Choice
                </button>
              </div>
            </ng-container>
          </div>
        </div>

        <ng-template #none>
          <div class="topping-card">
            <mat-tab-group class="taps">
              <form [formGroup]="selectedForm">
                <div class="mytab">
                  <mat-tab
                    label="Choice of meat"
                    *ngIf="selectedMenu.meat_choice != null"
                  >
                    <div class="grid-container">
                      <ng-container
                        *ngFor="
                          let meat of selectedMenu.meat_choice;
                          let i = index
                        "
                      >
                        <label>
                          <input
                            class="select"
                            type="radio"
                            [value]="meat"
                            formControlName="meat"
                            (change)="onRadioBtnChange($event)"
                          />
                          <div class="grid-item">{{ meat }}</div>
                        </label>
                      </ng-container>
                      <label>
                        <input
                          class="select"
                          type="radio"
                          [value]="null"
                          formControlName="meat"
                          (change)="onRadioBtnChange($event)"
                        />
                        <div class="grid-item">None</div>
                      </label>
                    </div>
                  </mat-tab>
                  <mat-tab label="Ingredients" class="grid">
                    <div class="grid-container">
                      <ng-container
                        *ngFor="let ingred_id of selectedMenu.ingredient_ids"
                      >
                        <label>
                          <input
                            class="select"
                            type="checkbox"
                            [value]="ingred_id"
                            formArrayName="toppings"
                            (change)="onCheckboxChange($event, 'toppings')"
                          />
                          <div class="grid-item">
                            {{ ingredients[ingred_id - 1].ingredient_name }}
                            <!-- {{ ingredient.ingredient_name }} -->
                          </div>
                        </label>
                      </ng-container>
                    </div>
                  </mat-tab>
                  <mat-tab label="Extra food" class="grid">
                    <div class="grid-container">
                      <ng-container
                        *ngFor="let id of selectedMenu.extraFood_ids"
                      >
                        <label>
                          <input
                            class="select"
                            type="checkbox"
                            [value]="id"
                            formArrayName="extras"
                            (change)="onCheckboxChange($event, 'extras')"
                          />
                          <div class="grid-item">
                            {{ extraFoods[id - 1].food_name }}
                          </div>
                        </label>
                      </ng-container>
                    </div>
                  </mat-tab>
                </div>
              </form>
            </mat-tab-group>
            <div class="topping-bottom">
              <button class="btn" (click)="closeTopping()">
                <i class="fa-solid fa-xmark"></i>
              </button>
              <div>
                <button class="btn" (click)="remove()">
                  <i class="fa-solid fa-minus"></i>
                </button>
                <button class="btn plus" (click)="addOrdersWithChoice()">
                  <i class="fa-solid fa-plus"></i>
                </button>
              </div>
            </div>
          </div>
        </ng-template>
      </div>
    </div>

    <div class="order-page">
      <div class="order-header">
        <div class="order-title">
          <ng-container *ngFor="let table of tables; let i = index">
            <ng-container *ngIf="table.table_id == tableId"
              ><div>Table no: {{ table.table_no }}</div></ng-container
            >
          </ng-container>
          <div *ngIf="orderId != 0">Order ID: {{ orderId }}</div>
        </div>
        <div class="spacer"></div>
        <div class="order-title">
          <div>Item</div>
          <div>Qty</div>
        </div>
      </div>
      <div
        class="order-box"
        *ngIf="orderId > 0 || orders.length > 0; else blank"
      >
        <div class="order-card">
          <ng-container *ngFor="let order of orders; let orderIndex = index">
            <div class="food-name">
              <div>
                {{ menuNames[order.menu_id - 1].food_name }}
                <ng-container *ngIf="order.choice_of_meat != null"
                  >({{ order.choice_of_meat }})</ng-container
                >
              </div>
              <div>{{ order.quantity }}</div>
            </div>
            <ol>
              <!-- <li>{{ order.choice_of_meat }}</li> -->
              <li *ngIf="order.removed_ingredients.length != 0">
                Remove:
                <ng-container
                  *ngFor="let ingred_id of order.removed_ingredients"
                  >{{ ingredients[ingred_id - 1].ingredient_name }},
                </ng-container>
              </li>
              <li *ngIf="order.extra_ingredients.length != 0">
                Extras:
                <ng-container *ngFor="let extra_id of order.extra_ingredients"
                  >{{ extraFoods[extra_id - 1].food_name }},
                </ng-container>
              </li>
            </ol>
            <div class="order-type">
              <div>Order Type</div>
              <div class="dropdown" (click)="openDropdown(orderIndex)">
                <button class="dropdown-toggle">
                  {{ order.takeaway ? "Take away" : "Dine in" }}
                </button>
                <div
                  class="dropdown-menu"
                  [ngClass]="{ show: showDropdown }"
                  *ngIf="orderTypeIndex === orderIndex"
                >
                  <button
                    class="dropdown-item"
                    *ngFor="let type of orderTypes; let typeIndex = index"
                    (click)="changeOrderType(orderIndex)"
                  >
                    {{ type }}
                  </button>
                </div>
              </div>
            </div>
            <div class="option">
              <input
                type="text"
                placeholder="Order notes"
                (change)="onNoteBoxChange($event, orderIndex)"
              />
              <button class="delete" (click)="del(orderIndex)">
                <i class="fa-solid fa-trash"></i>
              </button>
            </div>
            <div class="diver"></div>
          </ng-container>
        </div>
      </div>
      <ng-template #blank>
        <div class="content">
          Add Order <i class="fa-solid fa-cart-shopping"></i>
        </div>
      </ng-template>
      <div class="order-bottom" *ngIf="orderId > 0 || orders.length > 0">
        <button
          class="submit"
          [disabled]="orderId == 0"
          (click)="submitOrder()"
        >
          Submit Order
        </button>
      </div>
    </div>
  </div>
</section>
