<app-sidenav></app-sidenav>

<div class="box flex constrains">
  <div class="orders-section">
    <div class="table-infos flex">
      <div>
        <a routerLink="/tables" class="back-icon"
          ><i class="fa fa-chevron-left" aria-hidden="true"></i
        ></a>
        <span>Table No. {{ tableId }}</span>
      </div>

      <div>Capacity: 4</div>
    </div>
    <div class="order-details-container">
      <div class="order-header flex">
        <h2>MSI</h2>
        <div>Order No. OD-0001</div>
        <div>Date & Time: 2023-10-10 15:00</div>
        <div class="staff-details flex">
          <div>Table No. {{ tableId }}</div>
          <div>Waiter: Kyaw Kyaw</div>
        </div>
      </div>
      <div class="order-details">
        <div class="grid-container">
          <div class="g-head">Name</div>
          <div class="g-head">Modifiers</div>
          <div class="g-head align-right">Qty</div>

          <ng-container *ngFor="let order of foodOrders; let i = index">
            <div class="g-item">{{ i + 1 }}. {{ order.food }}</div>
            <div class="g-item modifiers">
              <ng-container *ngIf="order.excludedToppings != null">
                <div>
                  Remove: {{ order.excludedToppings.toString() }}
                  <!-- <ng-container *ngFor="let topping of order.excludedToppings"
                    >{{ topping }},
                  </ng-container> -->
                </div>
              </ng-container>

              <ng-container *ngIf="order.extraIngreds != null">
                <div>
                  Extra:
                  <ng-container
                    *ngFor="let extra of order.extraIngreds; let i = index"
                    >{{ extra }} (x{{ order.extraQty[i] }})
                  </ng-container>
                </div>
              </ng-container>

              <ng-container *ngIf="order.takeaway; else dinein">
                <div>Type: Pickup</div>
              </ng-container>
              <ng-template #dinein>
                <div>Type: Dine in</div>
              </ng-template>

              <div *ngIf="order.note != null">Note: {{ order.note }}</div>
            </div>
            <div class="g-item align-right">{{ order.qty }}</div>
          </ng-container>
        </div>
        <div class="bottom-section">
          <div>Total Dishes: 5</div>
          <button class="print-btn">Print</button>
        </div>
      </div>

      <div class="order-history"></div>
    </div>
    <hr />

    <app-order-list></app-order-list>
  </div>
</div>
