.orders-section {
  padding: 15px 20px 0 26px;
}

.order-details-container {
  width: 60%;
  margin: auto;
}

.order-header {
  flex-flow: column nowrap;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: dashed gray;
}

.staff-details {
  width: 100%;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.order-details {
  flex-flow: column nowrap;
}

.details-header {
  width: 100%;
  justify-content: space-between;
  padding-bottom: 10px;
}

.details-header h3 {
  font-weight: 500;
}

ol {
  width: 100%;
}

.order {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: dashed grey;
  justify-content: space-between;
  align-items: start;
}

.order div:first-child {
  flex-flow: row nowrap;
  justify-content: space-between;
}

.kitchen-slip {
  width: 100px;
  padding: 5px 0;
  margin-top: 20px;
  background-color: var(--main-color);
  border: none;
  border-radius: 3px;
  color: white;
}
