<app-sidenav></app-sidenav>

<div class="box flex constrains">
  <div class="orders-section">
    <div class="table-infos flex">
      <div>
        <a routerLink="/tables" class="back-icon"
          ><i class="fa fa-chevron-left" aria-hidden="true"></i
        ></a>
        <span>Table No. {{ tableId }}</span>
      </div>

      <div>Capacity: 4</div>
    </div>
    <ng-container *ngFor="let oneOrderSet of allOrders; let index = index">
      <div class="order-details-container">
        <div class="order-header flex">
          <h2>MSI</h2>

          <div>Order No. {{ headers[index].id }}</div>
          <div>Date & Time: {{ headers[index].date }}</div>

          <div class="staff-details flex">
            <div>Table No. {{ tableId }}</div>
            <div>Waiter: Kyaw Kyaw</div>
          </div>
        </div>
        <div class="order-details">
          <div class="grid-container">
            <div class="g-head">Name</div>
            <div class="g-head">Modifiers</div>
            <div class="g-head align-right">Qty</div>

            <ng-container *ngFor="let order of oneOrderSet; let i = index">
              <div class="g-item">
                {{ i + 1 }}. {{ menuNames[order.menu_id - 1].food_name }}
                <ng-container *ngIf="order.choice_of_meat != null"
                  >({{ order.choice_of_meat }})</ng-container
                >
              </div>
              <div class="g-item modifiers">
                <div *ngIf="order.removed_ingredients.length != 0">
                  Remove: {{ order.removed_ingredients!.toString() }}
                </div>

                <div *ngIf="order.extra_ingredients.length != 0">
                  Extra:
                  <!-- <ng-container
                    *ngFor="let extra of order.extra_ingredients; let i = index"
                    >{{ extra }} (x{{ order.extra_quantity![i] }})
                  </ng-container> -->
                  <ng-container
                    *ngFor="let extra of order.extra_ingredients; let i = index"
                    >{{ extraFoods[extra - 1].food_name }} (x{{
                      order.extra_quantity![i]
                    }})
                  </ng-container>
                </div>

                <div *ngIf="order.takeaway; else dinein">Type: Pickup</div>
                <ng-template #dinein>
                  <div>Type: {{ order.takeaway ? "Pick up" : "Dine in" }}</div>
                </ng-template>

                <div *ngIf="order.note != null">Note: {{ order.note }}</div>
              </div>
              <div class="g-item align-right">{{ order.quantity }}</div>
            </ng-container>
          </div>
          <div class="bottom-section">
            <div>Total Qty: {{ headers[index].total_qty }}</div>
            <button
              class="print-btn"
              (click)="generateBills(oneOrderSet, index)"
            >
              Print
            </button>
          </div>
        </div>

        <!-- <div class="order-history"></div> -->
      </div>
    </ng-container>
    <hr />

    <app-order-list></app-order-list>
  </div>
</div>
