<div class="constrains">
  <div class="orders-section">
    <div class="table-infos flex">
      <div>Table No. 02</div>
      <div>Capacity: 4</div>
    </div>
    <div class="order-details-container">
      <div class="order-header flex">
        <h2>Delicious MSI</h2>
        <div>Order No. OD-0001</div>
        <div>Date & Time: 2023-10-10 15:00</div>
        <div class="staff-details flex">
          <div>Table No. 02</div>
          <div>Waiter: Kyaw Kyaw</div>
        </div>
      </div>
      <div class="order-details flex">
        <div class="details-header flex">
          <h3>Name</h3>
          <h3>Modifiers</h3>
          <h3>Qty</h3>
        </div>
        <ol>
          <li class="order flex">
            <h4>Burger (Beef)</h4>
            <div class="modifiers">
              <div>Remove: Cheese, Onion</div>
              <div>Extra: Beef(x2)</div>
              <div>Type: Dine in</div>
              <div>Note: Medium Beef</div>
            </div>
            <div class="qty">1</div>
          </li>

          <li class="order flex">
            <h4>Burger</h4>
            <div class="modifiers">
              <div>-</div>
            </div>
            <div class="qty">2</div>
          </li>
        </ol>
        <div class="total-price">Total Price: 5000Ks</div>
        <button class="kitchen-slip">Print</button>
      </div>
      <div class="order-history"></div>
    </div>
  </div>
</div>
