section {
  margin-left: 100px;
}

.images {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.images img {
  width: 150px;
  height: 200px;
}

.set-menu {
  margin-top: 40px;
  display: flex;
}

#file-input {
  display: none;
}

#file-input-label {
  width: 150px;
  font-size: 1.3em;
  padding: 10px 0;
  text-align: center;
  border: 1px solid black;
  border-radius: 4%;
}

#file-input-label:hover,
#file-input-label:focus {
  background: #a0c2e2;
  color: #fff;
}

.form {
  margin-left: 30px;
}

.form__input {
  width: clamp(120px, 50vw, 420px);
  height: 2.5rem;
  padding: 0 1.25rem;
  border: 1px solid black;
  border-radius: 2px;
  margin-bottom: 0.565rem;
  transition: all 250ms;
}

.form__input:focus {
  outline: none;
  border-top-color: rgba(0, 0, 0, 0.1);
}

.form__input:focus + .form__label,
.form__input:not(:placeholder-shown) + .form__label {
  transform: translateY(-4.5rem) scale(1);
  color: black;
}

.form__input::placeholder {
  display: none;
  color: transparent;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.form__input:not(:placeholder-shown) {
  border-top-color: rgba(0, 0, 0, 0.5);
}

.form__label {
  font-size: 1rem;
  color: grey;
  display: block;
  transform: translate(1.25rem, -2.5rem);
  transform-origin: 0 0; /* Used later for transitions */
  transition: all 500ms;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  pointer-events: none;
}

.submit {
  transition: all 0.5s ease;
  width: clamp(120px, 50vw, 420px);
  height: 2.5rem;
  padding: 0 1.25rem;
  border: 1px solid black;
  border-radius: 2px;
  color: #008080;
  font-weight: 600;
  background-color: #fff;
}
.submit:hover,
.submit:focus {
  background: #a0c2e2;
  color: #fff;
}

.submit:disabled {
  color: #aaa;
  background: #fff;
}

.radio {
  margin-right: 5px !important;
}
